/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* =============================================================================
 HTML5 display definitions
 ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
 Base
 ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #607c7f; color: #fff; text-shadow: none; }
::selection { background: #607c7f; color: #fff; text-shadow: none; }


/* =============================================================================
 Links
 ========================================================================== */

a, a:visited { color: #607c7f; }

a:hover, a:active { outline: 0; }

/* =============================================================================
 Typography
 ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
 Lists
 ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* =============================================================================
 Embedded content
 ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

/* =============================================================================
 Figures
 ========================================================================== */

figure { margin: 0; }

/* =============================================================================
 Forms
 ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
 Tables
 ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ===== primary styles =====================================================
 Author: Marius Stuparu / Siveco
 ========================================================================== */

/* ------------------- Generic styles ------------------- */
body { color:#131313 }

p { -webkit-font-smoothing:antialiased; }

#container {
	width:1024px;
	height:748px;
	margin:0 auto;
	position:relative;
}

.fizica #container { background:url('../img/math-paper-bg.png') repeat }
.biologie #container { background:url('../img/biology-bg.png') 0 88px no-repeat }
.chimie #container {
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #c5e2d9 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#c5e2d9));
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#c5e2d9 100%);
	background: -o-linear-gradient(-45deg, #ffffff 0%,#c5e2d9 100%);
	background: -ms-linear-gradient(-45deg, #ffffff 0%,#c5e2d9 100%);
	background: linear-gradient(-45deg, #ffffff 0%,#c5e2d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5e2d9',GradientType=1 );
}

header {
	background:url('../img/page_header.png') repeat-x;
	height:88px;
	width:100%;
	position:absolute;
}

header > div {
	float:left;
	display:block;
	height:88px;
	overflow:hidden;
}

#lesson_logo { width:88px }

.fizica #lesson_logo { background:url('../img/physics.png') no-repeat }
.biologie #lesson_logo { background:url('../img/biology.png') no-repeat }
.chimie #lesson_logo { background:url('../img/chemistry.png') no-repeat }
.geografie #lesson_logo { background:url('../img/geography.png') no-repeat }
.matematica #lesson_logo { background:url('../img/math.png') no-repeat }

#lesson_title { width:776px }

#lesson_title h1 {
	font-size:24px;
	font-weight:bold;
	color:#fff;
	margin:15px 10px 20px;
}

#lesson_title h2 {
	font-size:14px;
	font-weight:bold;
	color:#444;
	margin:0 10px;
}

#ael_logo a{
	display:block;
	width:160px;
	height:88px;
	text-indent:-9999px;
	background:url('../img/ael_logo.png') no-repeat;
}

.arab_rtl { direction:rtl }

footer {
	position:absolute;
	height:29px;
	bottom:0;
	width:1004px;
	background:url('../img/page_footer.png') repeat-x;
	color:#777;
	font-size:20px;
	text-shadow:#fff 1px 1px 2px;
	padding:10px;
}

.icon {
	display:block;
	width:39px;
	height:38px;
	float:left;
	background-image:url('../img/round-icons.png');
	background-repeat:no-repeat;
}

.icon.icon_pencil { background-position:0 0 }
.icon.icon_touch { background-position:-39px 0 }

.icon.icon_pencil + p { clear:both }

.button {
	display:block;
	width:29px;
	height:29px;
	background-image:url('../img/buttons-sprites.png');
	background-repeat:no-repeat;
	float:left;
}

.button.arrow_left { background-position:0 0 }
.button.arrow_right { background-position:-29px 0 }

.button.arrow_left.inactive { background-position:-145px -58px }
.button.arrow_right.inactive { background-position:-174px -58px }

.text_button {
	float:left;
	height:19px;
	padding:5px 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    background: #e2e2e2;
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
}

#main {
	position:absolute;
	top:92px;
	bottom:52px;
	left:0;
	right:0;
}

/* ------------------- Sidebar styles ------------------- */
#main aside {
	width:271px;
	padding:5px;
}

#main aside #theory {
	position:relative;
	overflow:hidden;
}

#main aside #theory .header .top {
	display:block;
	width:273px;
	height:74px;
	background:url('../img/theory-transparent-header.png') no-repeat;
	position:relative;
	margin-top:10px;
}

#main aside #theory .header .button_medium {
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	background-image:url('../img/buttons-medium.png');
	background-repeat:no-repeat;
	top:15px;
}

#main aside #theory .header .button_medium.left_button { left:28px }
#main aside #theory .header .button_medium.right_button { left:205px }

#main aside #theory .header .button_medium.left_button.question { background-position:-80px 0 }
#main aside #theory .header .button_medium.right_button.theory { background-position:-120px 0 }

#main aside #theory .header .button_medium.left_button.left { background-position:0 0 }
#main aside #theory .header .button_medium.right_button.right { background-position:-40px 0 }

#main aside #theory .header .center_icon {
	display:block;
	position:absolute;
	width:70px;
	height:70px;
	background-image:url('../img/icons-large.png');
	background-repeat:no-repeat;
	top:-10px;
	left:102px;
}

#main aside #theory .header .center_icon.theory { background-position:0 0 }
#main aside #theory .header .center_icon.details { background-position:-70px 0 }
#main aside #theory .header .center_icon.help { background-position:-140px 0 }

#main aside #theory .content {
	background:url('../img/theory-transparent-fill.png') repeat-y;
	height:365px;
	overflow:scroll;
}

#main aside #theory .controls_help ul {
	font-size:19px;
	line-height:20px;
	margin:0;
	padding:10px;
	list-style:none;
}

#main aside #theory .controls_help li {
	margin:8px 0;
	overflow:hidden;
}

#main aside #theory .controls_help .control {
	display:block;
	width:29px;
	height:29px;
	background-image:url('../img/buttons-sprites.png');
	background-repeat:no-repeat;
}

#main aside #theory .controls_help .control,
#main aside #theory .controls_help .control_big {
	float:left;
	margin-right:10px;
}

#main aside #theory .details {
	padding:10px;
	margin-top:10px;
	color:#fff;
	font-size:21px;
	height:107px;
	overflow:hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #324e72;
	background: -moz-linear-gradient(top, #324e72 0%, #032c4f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#324e72), color-stop(100%,#032c4f));
	background: -webkit-linear-gradient(top, #324e72 0%,#032c4f 100%);
	background: -o-linear-gradient(top, #324e72 0%,#032c4f 100%);
	background: -ms-linear-gradient(top, #324e72 0%,#032c4f 100%);
	background: linear-gradient(top, #324e72 0%,#032c4f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324e72', endColorstr='#032c4f',GradientType=0 );
}

/* for right-to-left languages */
#main aside #theory.arab_rtl .controls_help .control,
#main aside #theory.arab_rtl .controls_help .control_big {
	float:right;
	margin-left:10px;
}

#main aside #theory .controls_help .control.validate { background-position:-203px 0 }

/* for right-to-left languages, directions are reversed */
#main aside #theory.arab_rtl .controls_help .control.back { background-position:0 0 }
#main aside #theory.arab_rtl .controls_help .control.forward { background-position:-29px 0 }
#main aside #theory.arab_rtl .controls_help .control.play { background-position:-290px 0 }

#main aside #theory .controls_help .control.pause { background-position:-319px 0 }
#main aside #theory .controls_help .control.stop { background-position:-348px 0 }
#main aside #theory .controls_help .control.feedback { background-position:-145px 0 }
#main aside #theory .controls_help .control.help { background-position:-377px 0 }
#main aside #theory .controls_help .control.reset { background-position:-174px 0 }

#main aside #theory .controls_help .control_big {
	display:block;
	background-repeat:no-repeat;
	background-image:url('../img/help-buttons-big.png');
	height:29px;
}

#main aside #theory .controls_help .control_big.test {
	width:60px;
	background-position:0 0;
}

#main aside #theory .controls_help .control_big.lesson {
	width:60px;
	background-position:-60px 0;
}

#main aside #theory .controls_help .control_big.navigate {
	width:86px;
	background-position:-120px 0;
}

#main aside #theory .controls_help .control_big.resources {
	width:87px;
	background-position:-205px 0;
}

#main aside #theory .theory_details,
#main aside #theory .instructions { padding:10px }

#main aside #theory .theory_details p,
#main aside #theory .instructions p {
	margin:0 0 10px;
	font-size:22px;
}

#main aside #theory li { font-size:22px }

/* ------------------- Content styles ------------------- */
#content #content_bottom .graphic_button {
	display:block;
	height:31px;
	background-image:url('../img/test-buttons.png');
	background-repeat:no-repeat;
	float:left;
	margin-right:10px;
}

#content #content_bottom .graphic_button.btn_eval {
	width:137px;
	background-position:0 0;
}

#content #content_bottom .graphic_button.btn_eval.disabled { background-position:0 -31px }

#content #content_bottom .graphic_button.btn_test {
	width:118px;
	background-position:-137px 0;
}

#content #content_bottom .graphic_button.btn_test.disabled { background-position:-137px -31px }

#main #content {
	position:absolute;
	left:290px;
	top:5px;
	right:5px;
	bottom:7px;
	left:290px;
}

#main #content_top,
#main #content_bottom {
	position:absolute;
	right:5px;
	left:5px;
}

#main #content_top {
	top:5px;
	bottom:5px;
}

#main #content_bottom {
	height:30px;
	bottom:0;
	padding:5px;
}

#main #content_bottom #page_nav {
	display:block;
	float:right;
	padding:5px;
	border:1px solid #d2d3d5;
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#main #content_bottom #page_nav ul {
	list-style:none;
	overflow:hidden;
	margin:0;
	padding:0;
}

#main #content_bottom #page_nav li {
	float:left;
	display:block;
	width:20px;
	height:20px;
	margin:0 10px;
}

#main #content_bottom #page_nav .arrow,
#main #content_bottom #page_nav .bullet {
	background-image:url('../img/navigation.png');
	background-repeat:no-repeat;
}

#main #content_bottom #page_nav .arrow_left { background-position:0 0 }
#main #content_bottom #page_nav .arrow_right { background-position:-20px 0 }
#main #content_bottom #page_nav .arrow.disabled { opacity:0.25 }

#main #content_bottom #page_nav .bullet { background-position:-40px 0 }
#main #content_bottom #page_nav .bullet.disabled { opacity:0.25 }

/* Specific styles - Page 1 ----------- */
#main #content_top .page_1 {
	position:absolute;
	top:5px;
	right:5px;
	bottom:0;
	left:5px;
	overflow:hidden;
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#f4f8fb;
}

#main #content_top .page_1 p {
	margin:0;
	text-align:center;
}

iframe {
	width:100%;
	height:100%;
	border:0;
}

/*
 * Media queries for responsive design
 */

/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 800px) {
    /* Styles */
}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

/* ==|== non-semantic helper classes ========================================
 Please define your styles before this section.
 ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }